# Ignore compiled Python files
__pycache__/
dist/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
node_modules/
sentiment_analysis/
trend_detector/

# Ignore local development files
.vscode/
*.sublime*
*.idea/

# Ignore local configuration files
.env
.vercel
